{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{wine.name}}? </h2>
<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
            <form action="{{url_for('deleteWine', region_id=region_id, wine_id=wine_id)}}" method="POST">
                <div class="form-group">
	            <button type="submit" class="btn btn-outline-danger" id="submit" type="submit">Delete</button>
                </div>
                </form>
	    <a href = "{{url_for('showWines', region_id=region_id, wine_id=wine_id)}}">
		    <button class="btn btn-outline-primary">Cancel</button>
        </a>
        </div>
</div>


{% endblock %}