<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '561078290947-7n4r2pqn3qh7hgan9nofrrnvbvur1hqo.apps.googleusercontent.com'
        });
      });
    }
  </script>
</head>
  
  <!--(2) In the <body> tag, add the below button and div -->
  
<body>
<div class="container">
  <div class="card">
    <div class="card-header">
      Sign In
    </div>
    <div class="card-body">
      <p class="card-text">Logging in is required to make any changes</p>

            <button class="btn btn-warning" id="signinButton" type="button">Google SignIn</button>
            <span class="g-signin"
            data-scope="openid email"
            data-clientid="561078290947-7n4r2pqn3qh7hgan9nofrrnvbvur1hqo.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
            </span>
            <br><br>
            <a class="btn btn-outline-primary" href="{{url_for('showAllRegions')}}">Back to Main Page</a>
    </div>
  </div>
</div>
  

  <div id="result"></div>
  
  <!-- (3) Add the below script before the ending </body> tag -->
  
  
  <script>
    $('#signinButton').click(function() {
      function signInCallback(authResult){
        if (authResult['code']){
          $('#signinButton').attr('style', 'display: none');
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            headers: {
            'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            success:function(result){
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                   setTimeout(function() {
                    window.location.href = "/";
                   }, 2000);
            },
            processData:false,
            data:authResult['code']
          });
        } else{
          // handle error
          console.log('There was an error: ' + authResult['error']);
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>
<!--END OF GOOGLE SIGN IN-->
</body>
</html>